<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
 <link rel="stylesheet" th:href="@{/background.css}" 
     -->
    <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="container bg-light justify-content-center">
        <div class="row">
            <div class="col col-md-6 offset-md 3">
                <br/>

                <h1 class="text-center">Get Your Local Forecast</h1>
                <form th:action="@{/}" th:object="${request}" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="text" th:field="*{zipCode}" placeholder="Zip Code" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-primary btn-block" name="Submit" value="Submit" type="Submit">
                            Check Weather
                        </button>
                     </div>
                </form>
                <span th:if="${data != null && data.name == 'error'}">
                    Invalid zip code. Weather data not found.
                </span>

                <div th:if="${data != null && data.name != 'error'}">

                 <h3>Forecast for <span th:text="${data.name}"></span></h3>
                <p><b>Temperature:</b> <span th:text="${data.main.get('temp')}"></span> °F</p>
                <p><b>Cloud Cover:</b> <span th:text="${data.clouds.get('all')}"></span> %</p>
                <p><b>Wind:</b> <span th:text="${data.wind.get('speed')}"></span> mph</p>
                <p><b>Conditions:</b> <span th:text="${data.weather[0].get('description')}"></span>




                <img th:src="@{${'http://openweathermap.org/img/w/' + data.weather[0].get('icon') + '.png'}}"></p>

                </div>




        </div>

            <div class="col col-md-6 offset-md 3" style="padding:3rem">


            <table>
                <thead>
                <tr>
                    <th>Recent Searches</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="zipCode: ${zip_codes}" th:if="${zipCodeStat.index >= zipCodeStat.size - 10}">
                    <td th:text="${zipCode.zip}"></td>
                </tr>

                </tbody>


            </table>
            </div>

        </div>

<!-- -->
<script th:inline="javascript">
    /*<![CDATA[*/
    // var busLocations = /*[[${buses}]]*/ null;
        var weathercase;            
        var weathermain = /*[[${data.weather[0].main}]]*/ null;      
        //alert(weathermain);
        if(weathermain.toLowerCase().includes("clouds")){
            weathercase = 0;
        }else if(weathermain.toLowerCase().includes("rain")){
            weathercase = 1;
        }else if(weathermain.toLowerCase().includes("thunderstorm")){
            weathercase = 2;
        }else if(weathermain.toLowerCase().includes("clear")) {
            weathercase = 3;
        }      
      // alert(weathercase);
       
        switch (weathercase) {
        case 0:
        let cloudyBackground = document.querySelector('body');
            cloudyBackground.style.backgroundImage = "url('../images/cloudy.jpg')";
            break;
        case 1:
        let rainyBackground = document.querySelector('body');
            rainyBackground.style.backgroundImage = "url('https://images.unsplash.com/photo-1475116127127-e3ce09ee84e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')";
                break;
        case 2:
        let thunderBackground = document.querySelector('body');
            thunderBackground.style.backgroundImage = "url('https://images.unsplash.com/photo-1570379510114-eeb67b4e50e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80')";
        break;
        case 3:
        let sunnyBackground = document.querySelector('body');
            sunnyBackground.style.backgroundImage = "url('https://images.unsplash.com/photo-1500320821405-8fc1732209ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')";
            break;
            default:
            let defaultBackground = document.querySelector('body');
             defaultBackground.style.backgroundImage = "url('https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=989&q=80')";
    }
     /*]]>*/
  </script>
<!--  
<script th:inline="javascript">
 /*<![CDATA[*/
        // var busLocations = /*[[${buses}]]*/ null;
    //  $(document).ready(function(){ 
  
    console.log(data);
    var weathermain = /*[[${data.weather[0].main}]]*/ null;      
   // var weatherMain ="sun";

    alert(weatherMain);

  //  $("#weatherMain").html(weatherMain);
            if (weatherMain.toLowerCase().includes("rain")) {
               // $("body").css("background-image", "url('https://images.unsplash.com/photo-1475116127127-e3ce09ee84e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')");
                let cloudyBackground = document.querySelector('body');
                cloudyBackground.style.backgroundImage = "url('../images/rain.jpg')";
            } else if(weatherMain.toLowerCase().includes("clouds")){      
               // $("body").css('background-image', "url('https://images.unsplash.com/photo-1515890922410-ae767899d6b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80')");
                let rainyBackground = document.querySelector('body');
                rainyBackground.style.backgroundImage = "url('../images/cloudy.jpg')";
            } else if (weatherMain.toLowerCase().includes("clear")) {
               // $("body").css("background-image", "url('https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80')");
               let sunnyBackground = document.querySelector('body');
                sunnyBackground.style.backgroundImage = "url('../images/sunny.jpg')";
            } else{
           // $("body").css("background-image", "url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80')");
           let defaultBackground = document.querySelector('body');
                defaultBackground.style.backgroundImage = "url('../images/snow.jpg')";
            }
      //  });
/*]]>*/
</script>
-->

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/cjs/popper-base.min.js"</script>
</body>
</html>